*.gem
*.rbc
.bundle
.config
.yardoc
Gemfile.lock
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
.rspec
.pryrc
.rbenv-gemsets
.ruby-version
tags
sp_authentication.log
sp_authentication.log.*
